HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### properties ###
/src/main/resources/application.properties

### SQL ###
/SQL/sql.sql

### react ###
/front/package.json
/front/package-lock.json
/node_modules/http-proxy/.auto-changelog
/node_modules/http-proxy/.gitattributes
/node_modules/requires-port/.npmignore
/node_modules/requires-port/.travis.yml
/node_modules/http-proxy-middleware/dist/_handlers.d.ts
/node_modules/http-proxy-middleware/dist/_handlers.js
/node_modules/@types/node/assert.d.ts
/node_modules/@types/node/async_hooks.d.ts
/node_modules/@types/node/buffer.d.ts
/node_modules/braces/CHANGELOG.md
/node_modules/http-proxy/CHANGELOG.md
/node_modules/picomatch/CHANGELOG.md
/node_modules/@types/node/child_process.d.ts
/node_modules/@types/node/cluster.d.ts
/node_modules/http-proxy/CODE_OF_CONDUCT.md
/node_modules/http-proxy/codecov.yml
/node_modules/http-proxy/lib/http-proxy/common.js
/node_modules/braces/lib/compile.js
/node_modules/http-proxy-middleware/dist/config-factory.d.ts
/node_modules/http-proxy-middleware/dist/config-factory.js
/node_modules/@types/node/console.d.ts
/node_modules/@types/node/constants.d.ts
/node_modules/braces/lib/constants.js
/node_modules/picomatch/lib/constants.js
/node_modules/@types/node/stream/consumers.d.ts
/node_modules/http-proxy-middleware/dist/context-matcher.d.ts
/node_modules/http-proxy-middleware/dist/context-matcher.js
/node_modules/@types/node/crypto.d.ts
/node_modules/follow-redirects/debug.js
/node_modules/@types/node/dgram.d.ts
/node_modules/@types/node/diagnostics_channel.d.ts
/node_modules/@types/node/dns.d.ts
/node_modules/@types/node/domain.d.ts
/node_modules/http-proxy-middleware/dist/errors.d.ts
/node_modules/http-proxy-middleware/dist/errors.js
/node_modules/eventemitter3/umd/eventemitter3.js
/node_modules/eventemitter3/umd/eventemitter3.min.js
/node_modules/eventemitter3/umd/eventemitter3.min.js.map
/node_modules/@types/node/events.d.ts
/node_modules/braces/lib/expand.js
/node_modules/http-proxy-middleware/dist/handlers/fix-request-body.d.ts
/node_modules/http-proxy-middleware/dist/handlers/fix-request-body.js
/node_modules/@types/node/fs.d.ts
/node_modules/@types/node/globals.d.ts
/node_modules/@types/node/globals.global.d.ts
/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.eot
/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.svg
/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.ttf
/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.woff
/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.woff2
/node_modules/@types/node/http.d.ts
/node_modules/follow-redirects/http.js
/node_modules/@types/node/http2.d.ts
/node_modules/http-proxy/lib/http-proxy.js
/node_modules/http-proxy-middleware/dist/http-proxy-middleware.d.ts
/node_modules/http-proxy-middleware/dist/http-proxy-middleware.js
/node_modules/@types/node/https.d.ts
/node_modules/follow-redirects/https.js
/node_modules/@types/http-proxy/index.d.ts
/node_modules/@types/node/index.d.ts
/node_modules/eventemitter3/index.d.ts
/node_modules/http-proxy-middleware/dist/handlers/index.d.ts
/node_modules/http-proxy-middleware/dist/index.d.ts
/node_modules/is-plain-obj/index.d.ts
/node_modules/braces/index.js
/node_modules/eventemitter3/index.js
/node_modules/fill-range/index.js
/node_modules/follow-redirects/index.js
/node_modules/http-proxy/lib/http-proxy/index.js
/node_modules/http-proxy/index.js
/node_modules/http-proxy-middleware/dist/handlers/index.js
/node_modules/http-proxy-middleware/dist/index.js
/node_modules/is-extglob/index.js
/node_modules/is-glob/index.js
/node_modules/is-number/index.js
/node_modules/is-plain-obj/index.js
/node_modules/micromatch/index.js
/node_modules/picomatch/index.js
/node_modules/requires-port/index.js
/node_modules/to-regex-range/index.js
/node_modules/@types/node/inspector.d.ts
/node_modules/@types/http-proxy/LICENSE
/node_modules/@types/node/LICENSE
/node_modules/braces/LICENSE
/node_modules/eventemitter3/LICENSE
/node_modules/fill-range/LICENSE
/node_modules/follow-redirects/LICENSE
/node_modules/http-proxy/LICENSE
/node_modules/http-proxy-middleware/LICENSE
/node_modules/is-extglob/LICENSE
/node_modules/is-glob/LICENSE
/node_modules/is-number/LICENSE
/node_modules/micromatch/LICENSE
/node_modules/picomatch/LICENSE
/node_modules/requires-port/LICENSE
/node_modules/to-regex-range/LICENSE
/node_modules/is-plain-obj/license
/node_modules/http-proxy-middleware/dist/logger.d.ts
/node_modules/http-proxy-middleware/dist/logger.js
/node_modules/@types/node/module.d.ts
/node_modules/@types/node/net.d.ts
/node_modules/@types/node/os.d.ts
/node_modules/@types/http-proxy/package.json
/node_modules/@types/node/package.json
/node_modules/braces/package.json
/node_modules/eventemitter3/package.json
/node_modules/fill-range/package.json
/node_modules/follow-redirects/package.json
/node_modules/http-proxy/package.json
/node_modules/http-proxy-middleware/package.json
/node_modules/is-extglob/package.json
/node_modules/is-glob/package.json
/node_modules/is-number/package.json
/node_modules/is-plain-obj/package.json
/node_modules/micromatch/package.json
/node_modules/picomatch/package.json
/node_modules/requires-port/package.json
/node_modules/to-regex-range/package.json
/node_modules/braces/lib/parse.js
/node_modules/picomatch/lib/parse.js
/node_modules/@types/node/path.d.ts
/node_modules/http-proxy-middleware/dist/path-rewriter.d.ts
/node_modules/http-proxy-middleware/dist/path-rewriter.js
/node_modules/@types/node/perf_hooks.d.ts
/node_modules/picomatch/lib/picomatch.js
/node_modules/@types/node/process.d.ts
/node_modules/@types/node/dns/promises.d.ts
/node_modules/@types/node/fs/promises.d.ts
/node_modules/@types/node/stream/promises.d.ts
/node_modules/@types/node/timers/promises.d.ts
/node_modules/http-proxy-middleware/dist/handlers/public.d.ts
/node_modules/http-proxy-middleware/dist/handlers/public.js
/node_modules/@types/node/punycode.d.ts
/node_modules/@types/node/querystring.d.ts
/node_modules/@types/node/readline.d.ts
/node_modules/@types/http-proxy/README.md
/node_modules/@types/node/README.md
/node_modules/braces/README.md
/node_modules/eventemitter3/README.md
/node_modules/fill-range/README.md
/node_modules/follow-redirects/README.md
/node_modules/http-proxy/README.md
/node_modules/http-proxy-middleware/README.md
/node_modules/is-extglob/README.md
/node_modules/is-glob/README.md
/node_modules/is-number/README.md
/node_modules/micromatch/README.md
/node_modules/picomatch/README.md
/node_modules/requires-port/README.md
/node_modules/to-regex-range/README.md
/node_modules/is-plain-obj/readme.md
/node_modules/http-proxy/renovate.json
/node_modules/@types/node/repl.d.ts
/node_modules/http-proxy-middleware/dist/handlers/response-interceptor.d.ts
/node_modules/http-proxy-middleware/dist/handlers/response-interceptor.js
/node_modules/http-proxy-middleware/dist/router.d.ts
/node_modules/http-proxy-middleware/dist/router.js
/node_modules/picomatch/lib/scan.js
/node_modules/@types/node/stream.d.ts
/node_modules/@types/node/assert/strict.d.ts
/node_modules/@types/node/string_decoder.d.ts
/node_modules/braces/lib/stringify.js
/node_modules/requires-port/test.js
/node_modules/@types/node/timers.d.ts
/node_modules/@types/node/tls.d.ts
/node_modules/@types/node/trace_events.d.ts
/node_modules/@types/node/tty.d.ts
/node_modules/http-proxy-middleware/dist/types.d.ts
/node_modules/http-proxy-middleware/dist/types.js
/node_modules/@types/node/url.d.ts
/node_modules/@types/node/util.d.ts
/node_modules/braces/lib/utils.js
/node_modules/picomatch/lib/utils.js
/node_modules/@types/node/v8.d.ts
/node_modules/@types/node/vm.d.ts
/node_modules/@types/node/wasi.d.ts
/node_modules/@types/node/stream/web.d.ts
/node_modules/http-proxy/lib/http-proxy/passes/web-incoming.js
/node_modules/http-proxy/lib/http-proxy/passes/web-outgoing.js
/node_modules/@types/node/worker_threads.d.ts
/node_modules/http-proxy/lib/http-proxy/passes/ws-incoming.js
/node_modules/@types/node/zlib.d.ts
package-lock.json
front/package-lock.json
node_modules/.package-lock.json
node_modules/@types/http-proxy/index.d.ts
node_modules/@types/http-proxy/LICENSE
node_modules/@types/http-proxy/package.json
node_modules/@types/http-proxy/README.md
node_modules/@types/node/assert.d.ts
node_modules/@types/node/async_hooks.d.ts
node_modules/@types/node/buffer.d.ts
node_modules/@types/node/child_process.d.ts
node_modules/@types/node/cluster.d.ts
node_modules/@types/node/console.d.ts
node_modules/@types/node/constants.d.ts
node_modules/@types/node/crypto.d.ts
node_modules/@types/node/dgram.d.ts
node_modules/@types/node/diagnostics_channel.d.ts
node_modules/@types/node/dns.d.ts
node_modules/@types/node/domain.d.ts
node_modules/@types/node/events.d.ts
node_modules/@types/node/fs.d.ts
node_modules/@types/node/globals.d.ts
node_modules/@types/node/globals.global.d.ts
node_modules/@types/node/http.d.ts
node_modules/@types/node/http2.d.ts
node_modules/@types/node/https.d.ts
node_modules/@types/node/index.d.ts
node_modules/@types/node/inspector.d.ts
node_modules/@types/node/LICENSE
node_modules/@types/node/module.d.ts
node_modules/@types/node/net.d.ts
node_modules/@types/node/os.d.ts
node_modules/@types/node/package.json
node_modules/@types/node/path.d.ts
node_modules/@types/node/perf_hooks.d.ts
node_modules/@types/node/process.d.ts
node_modules/@types/node/punycode.d.ts
node_modules/@types/node/querystring.d.ts
node_modules/@types/node/readline.d.ts
node_modules/@types/node/README.md
node_modules/@types/node/repl.d.ts
node_modules/@types/node/stream.d.ts
node_modules/@types/node/string_decoder.d.ts
node_modules/@types/node/timers.d.ts
node_modules/@types/node/tls.d.ts
node_modules/@types/node/trace_events.d.ts
node_modules/@types/node/tty.d.ts
node_modules/@types/node/url.d.ts
node_modules/@types/node/util.d.ts
node_modules/@types/node/v8.d.ts
node_modules/@types/node/vm.d.ts
node_modules/@types/node/wasi.d.ts
node_modules/@types/node/worker_threads.d.ts
node_modules/@types/node/zlib.d.ts
node_modules/@types/node/assert/strict.d.ts
node_modules/@types/node/dns/promises.d.ts
node_modules/@types/node/fs/promises.d.ts
node_modules/@types/node/stream/consumers.d.ts
node_modules/@types/node/stream/promises.d.ts
node_modules/@types/node/stream/web.d.ts
node_modules/@types/node/timers/promises.d.ts
node_modules/braces/CHANGELOG.md
node_modules/braces/index.js
node_modules/braces/LICENSE
node_modules/braces/package.json
node_modules/braces/README.md
node_modules/braces/lib/compile.js
node_modules/braces/lib/constants.js
node_modules/braces/lib/expand.js
node_modules/braces/lib/parse.js
node_modules/braces/lib/stringify.js
node_modules/braces/lib/utils.js
node_modules/eventemitter3/index.d.ts
node_modules/eventemitter3/index.js
node_modules/eventemitter3/LICENSE
node_modules/eventemitter3/package.json
node_modules/eventemitter3/README.md
node_modules/eventemitter3/umd/eventemitter3.js
node_modules/eventemitter3/umd/eventemitter3.min.js
node_modules/eventemitter3/umd/eventemitter3.min.js.map
node_modules/fill-range/index.js
node_modules/fill-range/LICENSE
node_modules/fill-range/package.json
node_modules/fill-range/README.md
node_modules/follow-redirects/debug.js
node_modules/follow-redirects/http.js
node_modules/follow-redirects/https.js
node_modules/follow-redirects/index.js
node_modules/follow-redirects/LICENSE
node_modules/follow-redirects/package.json
node_modules/follow-redirects/README.md
node_modules/http-proxy/.auto-changelog
node_modules/http-proxy/.gitattributes
node_modules/http-proxy/CHANGELOG.md
node_modules/http-proxy/CODE_OF_CONDUCT.md
node_modules/http-proxy/codecov.yml
node_modules/http-proxy/index.js
node_modules/http-proxy/LICENSE
node_modules/http-proxy/package.json
node_modules/http-proxy/README.md
node_modules/http-proxy/renovate.json
node_modules/http-proxy/lib/http-proxy.js
node_modules/http-proxy/lib/http-proxy/common.js
node_modules/http-proxy/lib/http-proxy/index.js
node_modules/http-proxy/lib/http-proxy/passes/web-incoming.js
node_modules/http-proxy/lib/http-proxy/passes/web-outgoing.js
node_modules/http-proxy/lib/http-proxy/passes/ws-incoming.js
node_modules/http-proxy-middleware/LICENSE
node_modules/http-proxy-middleware/package.json
node_modules/http-proxy-middleware/README.md
node_modules/http-proxy-middleware/dist/_handlers.d.ts
node_modules/http-proxy-middleware/dist/_handlers.js
node_modules/http-proxy-middleware/dist/config-factory.d.ts
node_modules/http-proxy-middleware/dist/config-factory.js
node_modules/http-proxy-middleware/dist/context-matcher.d.ts
node_modules/http-proxy-middleware/dist/context-matcher.js
node_modules/http-proxy-middleware/dist/errors.d.ts
node_modules/http-proxy-middleware/dist/errors.js
node_modules/http-proxy-middleware/dist/http-proxy-middleware.d.ts
node_modules/http-proxy-middleware/dist/http-proxy-middleware.js
node_modules/http-proxy-middleware/dist/index.d.ts
node_modules/http-proxy-middleware/dist/index.js
node_modules/http-proxy-middleware/dist/logger.d.ts
node_modules/http-proxy-middleware/dist/logger.js
node_modules/http-proxy-middleware/dist/path-rewriter.d.ts
node_modules/http-proxy-middleware/dist/path-rewriter.js
node_modules/http-proxy-middleware/dist/router.d.ts
node_modules/http-proxy-middleware/dist/router.js
node_modules/http-proxy-middleware/dist/types.d.ts
node_modules/http-proxy-middleware/dist/types.js
node_modules/http-proxy-middleware/dist/handlers/fix-request-body.d.ts
node_modules/http-proxy-middleware/dist/handlers/fix-request-body.js
node_modules/http-proxy-middleware/dist/handlers/index.d.ts
node_modules/http-proxy-middleware/dist/handlers/index.js
node_modules/http-proxy-middleware/dist/handlers/public.d.ts
node_modules/http-proxy-middleware/dist/handlers/public.js
node_modules/http-proxy-middleware/dist/handlers/response-interceptor.d.ts
node_modules/http-proxy-middleware/dist/handlers/response-interceptor.js
node_modules/is-extglob/index.js
node_modules/is-extglob/LICENSE
node_modules/is-extglob/package.json
node_modules/is-extglob/README.md
node_modules/is-glob/index.js
node_modules/is-glob/LICENSE
node_modules/is-glob/package.json
node_modules/is-glob/README.md
node_modules/is-number/index.js
node_modules/is-number/LICENSE
node_modules/is-number/package.json
node_modules/is-number/README.md
node_modules/is-plain-obj/index.d.ts
node_modules/is-plain-obj/index.js
node_modules/is-plain-obj/license
node_modules/is-plain-obj/package.json
node_modules/is-plain-obj/readme.md
node_modules/micromatch/index.js
node_modules/micromatch/LICENSE
node_modules/micromatch/package.json
node_modules/micromatch/README.md
node_modules/picomatch/CHANGELOG.md
node_modules/picomatch/index.js
node_modules/picomatch/LICENSE
node_modules/picomatch/package.json
node_modules/picomatch/README.md
node_modules/picomatch/lib/constants.js
node_modules/picomatch/lib/parse.js
node_modules/picomatch/lib/picomatch.js
node_modules/picomatch/lib/scan.js
node_modules/picomatch/lib/utils.js
node_modules/requires-port/.npmignore
node_modules/requires-port/.travis.yml
node_modules/requires-port/index.js
node_modules/requires-port/LICENSE
node_modules/requires-port/package.json
node_modules/requires-port/README.md
node_modules/requires-port/test.js
node_modules/to-regex-range/index.js
node_modules/to-regex-range/LICENSE
node_modules/to-regex-range/package.json
node_modules/to-regex-range/README.md
