.App-Nav {
    background-color : #222229;
    height : max-content;
    display: flex;
}
.Container{
    padding-left: 0;
}
.Nav-Content {
    background-color : #222229;
    text-align: center;
    color : #f2eb88
}
.section-content {
    text-align : center;
    position: center;
}
.content-col {
    width: 50%;
}