.App-Nav {
    background-color : #f2eb88;
    height : 30%;
    display: flex;
}
.Nav-Content {
    text-align: center;
    color : #222229
}
.section-content {
    text-align : center;
    position: center;
}
.content-col {
    width: 50%;
}