
.Nav-Content {
    text-align: center;
    color : #f2eb88;
    background-color : #222229;
    align-content : start;
    height : 100%;
    padding-left : 0;
}
.id-section {
    text-align: center;
    color : #f2eb88;
    padding:0;
}
ul {
    padding-left : 0;
}
.content-section {
    align-content: center;
    color : #f2eb88;
    padding:0;
}
.menu-section {
    text-align: center;
    color : #f2eb88;
    padding:0;
}
.banner-section {
    text-align: center;
    color : #f2eb88;
    padding:0;
}
.menu-link {
    color : #f2eb88;
    text-decoration: none;
    link : #f2eb88;
}
.menu-link:hover, .menu-link:visited, .menu-link:active {
    color : #f2eb88;
}