.App {
    align-content: center;
    min-height : 100vh;
    position: relative;
    width : 100%;
}
html, body {
    margin : 0;
    padding : 0;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.contents {
    color : #f2eb88;
    margin-left: 250px;
    margin-top : 10px;
    padding : 0;

}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 40%;
}
.App-nav {
    position: absolute;
    background-color: #222229;
    height : 100%;
    padding-bottom : 80px;
    width : 200px;
    padding-left : 0;
}
.App-link {
    color: #61dafb;
}

.container {
    display: flex;
    margin-left: 0;
    padding-left: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
a {
    color : #f2eb88;
    text-decoration: none;
    link : #f2eb88;
}
a:hover, a:visited, a:active  {
    color : #f2eb88;
}
