.btn-add {
    float: right;
}
.book-list {
    margin-top : 20px;
    width : 1000px;
    text-align: center;
}
.list-contents {
    width : 800px;
    margin-top : 20px;
    text-align: center;
}
table {
    color : #222229;
}
th, tr, td {
    border-style : solid;
    border-width: thin;
    color : #222229;
}
.book-table {
    border-color : #222229;
    border-style: solid;
    border-width: thin;
    width : 100%;
}